* {
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	margin-bottom: 10px;
}

.home-screen {
	height: 100vh;
	display: flex;
	background-color: #4b0c86;
	justify-content: center;
	align-items: center;
	gap: 48px;
	color: white;
}

.home-screen a {
	color: white;
}

.container {
	background-color: #4b0c86;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto', sans-serif;
}

.animate > * {
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

@keyframes animate-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.visualization-form {
	width: 40%;
	background-color: white;
	border-radius: 8px;
	padding: 40px;
}

.visualization-form__group {
	margin-bottom: 20px;
}

.visualization-form__group label {
	font-weight: bold;
	margin-bottom: 5px;
}

.visualization-form__group input[type="number"] {
	width: 100%;
  padding: 12px 20px;
	border: 1px solid #ccc;
  border-radius: 4px;;
}

.visualization-form__group > * {
	display: block; 
}

.visualization-form__button {
	border: none;
	padding: 10px;
	border-radius: 8px;
	color: white;
	background-color: #113b9f;
	cursor: pointer;
}

.success-message {
	font-family: 'Roboto', sans-serif;
	background-color: green;
	padding: 8px;
	color: white;
	font-weight: bold;
	border-radius: 8px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
}
