<form action="{% url 'generate-map' %}" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<!-- <h1>Populations file</h1> -->
	<!-- <div> -->
	<!-- 	<label>Populations file</label> -->
	<!-- 	{{ form.populations_file }} -->
	<!-- </div> -->

	<!-- <h1>Clusters file</h1> -->
	<!-- <div> -->
	<!-- 	<label>Clusters file</label> -->
	<!-- 	{{ form.clusters_file }} -->
	<!-- </div> -->

	<!-- <h1>Bounding box</h1> -->
	<!-- <div> -->
	<!-- 	<label>Bounding box width</label> -->
	<!-- 	{{ form.bounding_box_width }} -->
	<!-- </div> -->
	<!-- <div> -->
	<!-- 	<label>Bounding box height</label> -->
	<!-- 	{{ form.bounding_box_height }} -->
	<!-- </div> -->

	<!-- <h1>Map shape plot</h1> -->
	<!-- <div> -->
	<!-- 	<label>Face Color</label> -->
	<!-- 	{{ form.map_shape_face_color }} -->
	<!-- </div> -->
	<!-- <div> -->
	<!-- 	<label>Edge Color</label> -->
	<!-- 	{{ form.map_shape_edge_color }} -->
	<!-- </div> -->
	<!-- </div> -->

	<h1>Populations color</h1>
	<div>
		<label>Populations color</label>
		{{ form.populations_color }}
	</div>
	</div>

	<h1>Clusters color</h1>
	<div>
		<label>Clusters color</label>
		{{ form.clusters_color }}
	</div>
	<input type="submit" name="generate_map" value="Generate map">
	<input type="submit" name="generate_video" value="Generate video">
</form>
