{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
<div class="container">
	<form
		class="visualization-form"
		action="{% url 'simulation_video_generation' %}"
		method="POST"
		enctype="multipart/form-data">
		{% csrf_token %}

		<div class="visualization-form__group">
			<label>Select the files for the shapefile:</label>
			{{ form.map_shape }}
		</div>

		<div class="visualization-form__group">
			<label>Select the files for the simulation:</label>
			{{ form.sim_files }}
		</div>

		<div class="visualization-form__group">
			<label>Populations file:</label>
			{{ form.populations_file }}
		</div>

		<div class="visualization-form__group">
			<label>Clusters file:</label>
			{{ form.clusters_file }}
		</div>

		<div class="visualization-form__group">
			<label>Bounding box width:</label>
			{{ form.bounding_box_width }}
		</div>

		<div class="visualization-form__group">
			<label>Bounding box height:</label>
			{{ form.bounding_box_height }}
		</div>

		<div class="visualization-form__group">
			<label>Face Color</label>
			{{ form.map_shape_face_color }}
		</div>

		<div class="visualization-form__group">
			<label>Edge Color</label>
			{{ form.map_shape_edge_color }}
		</div>

		<div class="visualization-form__group">
			<label>Gene H Color</label>
			{{ form.gene_h_color }}
		</div>

		<div class="visualization-form__group">
			<label>Gene O Color</label>
			{{ form.gene_o_color }}
		</div>

		<input type="submit" value="Generate video simulation">
	</form
</div>
